/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
 color: #222;
}

body {
 font-size: 1em;	
 background:#ccc;
 line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
	font-family: 'Conv_Soho Gothic Pro Light';
	src: url('fonts/Soho Gothic Pro Light.eot');
	src: local('?'), url('fonts/Soho Gothic Pro Light.woff') format('woff'), url('fonts/Soho Gothic Pro Light.ttf') format('truetype'), url('fonts/Soho Gothic Pro Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SohoGothicPro-Medium';
	src: url('fonts/SohoGothicPro-Medium.eot');
	src: local('?'), url('fonts/SohoGothicPro-Medium.woff') format('woff'), url('fonts/SohoGothicPro-Medium.ttf') format('truetype'), url('fonts/SohoGothicPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SohoGothicPro-Light';
	src: url('fonts/SohoGothicPro-Light.eot');
	src: local('?'), url('fonts/SohoGothicPro-Light.woff') format('woff'), url('fonts/SohoGothicPro-Light.ttf') format('truetype'), url('fonts/SohoGothicPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


* {
 margin:0;
 padding:0;
}
a {
 text-decoration:none;
 color:#fff;
}

html,body{
 width:100%;
 doverflow:hidden;
 height:100%;
 
 scrollbar-face-color: #222;
scrollbar-shadow-color: #222;
scrollbar-highlight-color:#485dc6;
scrollbar-3dlight-color: #222;
scrollbar-darkshadow-color: #222;
scrollbar-track-color: #ccc;
scrollbar-arrow-color: #222;


-ms-scrollbar-3dlight-color : #222 ;
-ms-scrollbar-arrow-color: #222;
-ms-scrollbar-darkshadow-color : #222;
-ms-scrollbar-face-color: #485dc6;
-ms-scrollbar-highlight-color : #485dc6;
-ms-scrollbar-shadow-color : none;
-ms-scrollbar-track-color : #ccc;


}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



div.Main {
	height:5000px;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}

div.lines {
 position:absolute;
 font-size:0;
 line-height:0;
 width:1px;
 left:0%;
 top:0;
 height:200px;
 background-color:rgba(255,255,255,0.4);
  transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -webkit-transform: rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -moz-transform: rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -o-transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -ms-transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);

 
}
div.lines.line1 { left: 580px; position: absolute; height:210px;}

header {
 	position: fixed;
	z-index:10;
	width:100%;
	
	height:100px;
 	min-width: 720px;
}

header .wrapper { position:relative; width:100%; display: block; height: 100%;}
header .inner-left { position:absolute;  left: 4.5%; width: 480px; top: 20px;}

nav ul {
 width:375px;
 float:left;
 padding:17px 0 0 0;
}

nav ul li {
 float:left;
 width:auto;
 padding:0 18px 0 0;
}

nav ul li a {
 font-family: 'Conv_Soho Gothic Pro Light';
 font-size:20px;
}

div.social {
 float:left;
 margin: 24px 0 0 50px;
 width:55px;
}

div.social a {
 display:inline-block;
 width:20px;
 margin: 0 5px 0 0;
 height:21px;
}

div.social a.fb {
 background: url("../img/background/fb.png") no-repeat scroll 0 0 transparent;
}

div.social a.twitter {
 background: url("../img/background/twitter.png") no-repeat scroll 0 0 transparent;
}

a.logo {
 float: right;
 margin-right: 5%;
 margin-top: 20px;
}

div.content {
 margin:0 auto;
 clear:both;
 width:1095px;
}

div.home { 
 margin:0 auto;
 clear:both;
 width:1095px;
}

h1 {
 font-family: 'Conv_SohoGothicPro-Medium';
 font-size: 110px;
 color:#fff;
 line-height: 100px;
 font-weight:normal;
}

div.project {
	position: absolute;
	left: 6%;
	top: 320px;
	width:666px;
}

p {
 font-size:19px;
 line-height:24px;
 color:#fff;
 font-family: 'Conv_SohoGothicPro-Light';
}

div.project  a  {
 background:#fff;
 float:right;
 padding:25px;
	font-family: 'Conv_SohoGothicPro-Light';
 color:#485dc5;
 width:44px;
 height:44px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border-radius: 100px;
}

div.homewrap {
 position:relative;
	width:100%;
	float:left;
}

div.bgnext {
 background: url("../img/background/side-bg.png") no-repeat scroll 0 0 transparent;
 bottom: 0;
 z-index:5;
 height: 210px;
 position: fixed;
 right: 0;
 width: 241px;
}

.bgnext a {
 color: #999999;
	font-family: 'Conv_SohoGothicPro-Light';
 display: inline-block;
 margin: 64px 0 0 91px;
 width: 50px;
}

div.chapter {
height:100%; float: left; min-width: 100%; overflow: hidden;
}


div.chapter-wrap {
 position: absolute;
 left:0px;
 width: 100%;
 height: 100%;
 background-color: #4458BB;
}

div.chapter-wrap > div {
 position: absolute;
 width:100%;
 height:100%;
 z-index: 0;
 left: 100%;
}

div.home-div#home {
 background-color: #4458BB;	
 left: 0%;
}

div.work-div:before { 
 dcontent: "";
 dbackground:url(../img/background/work-before.gif) no-repeat scroll left 0;	
}

div.work-div {
}

div.diagonal {
 background:#222222;
 position:absolute;
 width:100%;
 height:100%;
 z-index: 0;
 transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -webkit-transform: rotate(0deg) scale(1) skew(-45deg) translate(0px);-moz-transform: rotate(0deg) scale(1) skew(-45deg) translate(0px);-o-transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);-ms-transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);
}

div.work-div:after { 
 xbackground:red;
}


div.work-div p {
 color:#fff;
}
#work .work { width:1038px; overflow:hidden;}
div.work {
 top:18%;
 left: 23%;
 clear:both;
 position: absolute; 
}

.about-div .work { position: absolute; top: 18%;}




div.about-div {
 width:100%; 
 height:100%;

}

div.about-div div.lines {
 display:none;
}

h2 {
 font-family: 'Conv_SohoGothicPro-Medium';
 font-size:45px;
 color:#fff;
 line-height:55px;
 font-weight:normal;
}

div.about-div h2 {
 width:950px;
 padding-bottom:10px;
 display:block;
}

div.work-info {
 float:left;
 width:1040px;
 height:233px;
}

div.block {
 float:left;
 width:220px;
 padding: 30px 20px 20px 20px;
 background:url("../img/background/work-bg.png") no-repeat scroll 0 0;
 height:180px;
 position:relative;
}

div.block p {
 color:#727272;
 font-size:16px;
 line-height:18px;
}

a.active {
 color:#a1a9dd;
}

.work-info div.block:last-child {
 padding-right:0;
}

h3 {
 font-size:22px;
 font-weight:normal;
 color:#485dc5;
 font-family: 'Conv_SohoGothicPro-Light';
}

div.home-div h1{
 width:670px;
 position: absolute;
 top: 110px;
 left: 5%;
}


div.about-div .diagonal {
background:#485dc6;

}


div.inside-div h2,
div.contact-div h2,
div.work-div h2 {
  font-size: 75px;
}

div.workslide {
 padding: 5% 0 0 0;
 width:1038px;
 overflow:hidden;
 height:300px;
}

div.workslide  ul {
 position:relative;
 width: 100000px;
}

div.workslide  ul li {
 float:left;
 width:346px;
 height:300px;
 list-style:none;
 position:relative;
 cursor:pointer;
}

div.workslide  ul li div.heading {
 position:absolute;
 z-index:10;
 background:url("../img/background/plus.gif") no-repeat scroll 90% center #000;
 width:310px;
 padding: 15px 18px;
 bottom: -200px;
 transition:all ease 0.3s;
}

div.workslide  ul li:hover div.heading { bottom:0px; }

div.workslide  ul li img {
 position:absolute;
 width: 100%;
 height: 100%;
}

div.workslide  ul li div.heading h3 {
 font-size:17px;
 padding:0;
 margin:0;
 width:80%;
 display:inline-block;
 color:#fff;
}

div.workslide  ul li div.heading p {
 margin:0;
 padding:0;
 clear:both;
 font-family:arial;
 font-size:12px;
 color:#666666;
}

div.handler  span {
 color:#fff;
 float:left;
 width:38px;
 position:relative;
 height:38px;
 cursor:pointer;
 margin-left: -38px;
 margin-right: 38px;
}
div.handler  span.disabled { opacity:.3; cursor:default; filter:alpha(opacity=30);}
div.handler  span.next {
 background:url("../img/background/next.png") no-repeat scroll 0 0;
 text-indent:9999em;
 left: 50%;
 
}

div.handler  span.prev {
 background:url("../img/background/prev.png") no-repeat scroll 0 0;
 text-indent:9999em;
 left: 50%;
}


div.handler  span.next-a {
 background:url("../img/background/next.png") no-repeat scroll 0 0;
 text-indent:9999em;
 left: 26%;
 
}

div.handler  span.prev-a {
 background:url("../img/background/prev.png") no-repeat scroll 0 0;
 text-indent:9999em;
 left:26%;
}

div.handler {
 background: url("../img/background/handlerbg.png") no-repeat scroll 50% 50%;
 margin: 20px auto;
 height: 38px;
}

div.details {
 display:none;
}

div.ovrlay {
    background: none repeat scroll 0 0 #222222;
    height: 90%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}

div.ovrlay-content div.img {
 left: 18%;
 position: absolute;
 top: 0;
 z-index: 101;
}

div.ovrlay-content div.img {
 opacity:0;
}

div.ovrlay-content div.current{
opacity:1;
}

div.ovrlay-content {
 float:left;
 width : 1240px;
 position: relative;
 top: 25px;
}

div.ovrlay-content .infoUp {
 display:none;	
}

div.ovrlay-wrap {
 width: 910px;
 float:left;
 left:50%;
 margin-left: -455px;
}

div.ovrlay-wrap div.img {
 position:absolute;
 height: 504px;
 position: absolute;
 width: 909px;
}

div.work-div div.infoovr {
    background: url("../img/background/info.png") no-repeat scroll 0 0 transparent;
    height: 49px;
    left: 67%;
    position: absolute;
	cursor:pointer;
    top: 24px;
	width: 49px;
    z-index: 110;
}
div.work-div  .desc {
    background: none repeat scroll 0 0 #111111;
    color: #7A7A7A;
    font-size: 12px;
    left: 63%;
    padding: 10px;
    position: absolute;
    top: 40px;
	margin-top:35px;
	display:none;
    width: 175px;
	font-family:'Conv_SohoGothicPro-Light';
    z-index: 101;
}

div.work-div div.close {
    height: 49px;
	cursor:pointer;
    left: 70%;
    position: absolute;
    top: 24px;
    width: 49px;
    z-index: 101;
  background: url("../img/background/close.png") no-repeat scroll 0 0 transparent;
}

div.inside-div {
}

div.inside-div div.diagonal {
 background:#485dc6;
}


div.inside-div  h2 {
    margin-left: 30%;
    margin-top: 18%;
}

div.contact-div div.diagonal {
 background:#5165c8;
}


div.coninfo {
 float:left;
 padding: 95px 0 0 0;
 width: 30%;
 margin-right: 3%;
}

div.coninfo h3 {
 font-size:30px;
 font-family: 'Conv_SohoGothicPro-Medium';
 display:block;
 padding-bottom:35px;
 color:#fff;
}

address {
 color:#fff;
 font-family: 'Conv_SohoGothicPro-Light';
 font-size:17px;
 font-style:normal;
}

div.visit {
}

div.visit h3 {
  background: url("../img/background/visit.png") no-repeat scroll 46% 4px transparent;
}

div.call h3 {
  background: url("../img/background/phone.png") no-repeat scroll 46% 6px transparent;
}

div.mailus h3 {
  background: url("../img/background/email.png") no-repeat scroll 47% 6px transparent;
}

div.visit address {
 display:block;
 margin-bottom: 40px;
}

div.coninfo p {
 margin:0;
 font-size:17px;
 display:block;
 margin-bottom: 60px;
 padding:0;
}

div.mailus p {
 color:#000000;
 margin-bottom: 35px;
 
}

div.mailus p a {
 display:block;
 color:#fff;
}



div.contact-div .work {
    width: 1000px;
}

a {
 outline:none !important;
}

div.contact-div {
}



.home .home-bottom-area { position: absolute;left:40%; bottom:0px; height:200px; width:200px; z-index: 0;}
.home .home-bottom-area .lines { left:100px; }
.home .home-bottom-area a 
{ 
 background:#fff;
 padding:25px;
 font-family: 'Conv_SohoGothicPro-Light';
 color:#485dc5;
 width:44px;
 height:44px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border-radius: 100px;
 float:right;
 text-align:center;
 right:20px;
 top:20px;
 position:relative;
 z-index:1;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}







#work-info 
{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:#222;
	z-index:20;
	display:none;
}

#work-info .img b { display:table-cell; vertical-align:middle; }
#work-info .img { position:absolute; left:0; right:0;bottom:0; top:0; z-index:2; display:table; text-align:center; width:100%; height:100%; }
#work-info .img img { box-shadow:1px 1px 5px rgba(0,0,0,0.6); max-width:80%; max-height:100%; }
#work-info .lines { z-index:1; }
#work-info .lines.line11 { background-color:rgba(255,255,255,0.2); left:50px; top:130px; height:100px; }
#work-info .lines.line12 { background-color:rgba(255,255,255,0.1); left:50px; top:0px; height:480px; }
#work-info .lines.line13 { background-color:rgba(255,255,255,0.2); left:auto; top:auto; right:0px; bottom:200px; height:200px; }
#work-info .lines.line14 { background-color:rgba(255,255,255,0.1); left:auto; top:auto; right:0px; bottom:0px; height:530px; }



#work-info .button {font-family:Arial; z-index:3; cursor:pointer; background-color:#0e0e0e; color:#888; font-size:12px; position:absolute; border-radius:100px; width:60px; height:60px; line-height:60px; text-align:center; }
#work-info .button:hover { color:#fff; }
#work-info .button.back {  left:50px; top:120px; }
#work-info .button.info {  left:50px; top:180px; }
#work-info .button.next { width:38px; height:38px; background-image:url(../img/background/next.png); right:80px; left:auto;bottom:145px;top:auto; background-color:transparent;}
#work-info .button.prev { width:38px; height:38px; background-image:url(../img/background/prev.png); right:80px; left:auto;bottom:183px;top:auto; background-color:transparent;}


#work-info-info
{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(10,10,10,0.9);
	z-index:20;
	display:none;
}
#work-info-info > .bg { position:absolute; left:0; top:0; background-color:#0e0e0e; width:100%; height:100%; z-index:0;

transform-origin:100% 0%;

-ms-transform-origin:100% 0%; 		/* IE 9 */

-webkit-transform-origin:100% 0%;	/* Safari å’Œ Chrome */

-moz-transform-origin:100% 0%;		/* Firefox */

-o-transform-origin:100% 0%;		/* Opera */

transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -webkit-transform: rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -moz-transform: rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -o-transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);
 -ms-transform:  rotate(0deg) scale(1) skew(-45deg) translate(0px);

}

#work-info-info > .content
{
	left:80px;
	top:80px;
	width:550px;
	color:white;
	font-size: 1.2em;
	line-height: 1.4;
	position:absolute;
	z-index:2;
}
#work-info-info .lines.line21 { background-color: #333; left:auto; top: 0; height: 500px;  right: 250px;}
#work-info-info .button { font-family:Arial; z-index:3; cursor:pointer; background-color:#000; color:#888; font-size:12px; position:absolute; border-radius:100px; width:60px; height:60px; line-height:60px; text-align:center; right:480px; top:480px;}
#work-info-info .button:hover { color:#fff; }


